.wrapper {
    width: 150px;
    height: 150px;
    border: 2px solid #515151;
    border-radius: 50%;
}
.exmpl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exmpl img {
    height: auto;
    width: 100%;
}